@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@1,500&display=swap');

h1 {
    -webkit-text-stroke-color: rgb(172, 194, 204);
    -webkit-text-stroke-width: 1px;
}

td {
    border: thin solid black;
    background-color:blanchedalmond
}
#rowTopHead  {
    background-color: bisque;
    
}
th  {
    border: thin solid black;
    background-color: rgb(212, 124, 9);
}
tbody {
    border: thin solid black;
    position: center;
    display:contents;
}
tfoot {
    border: thin solid black;
    background-color: antiquewhite;
    height: 50px;
}
tr {
    border: black;
    background-color:antiquewhite;
}
table {
    width: 80%;
    height: 300px;
    border: thin solid black;
    position:sticky;
    margin-left: auto;
    margin-right: auto;
    color: black;
    scroll-margin-block-start:inherit ;
    
}
#city {
    background-color: burlywood;
}
body  {
    justify-content: center;
  
    background-image: url(salmon1.png);
    background-repeat: repeat;
    background-size: 250px;
    text-shadow: 3px;
    color: rgb(23, 74, 227);
text-align: center;
    
}
a {
    color: aliceblue;
    text-decoration: none;
}
.salesLink  {
    color:rgb(82, 6, 154);
    -webkit-text-stroke-color: rgb(142, 139, 144);
    -webkit-text-stroke-width: 1px;
}
.td2 {
    color: azure;
}
#footrow {
   color: rgba(238, 64, 1, 0.99);
}